.block.embed {
  position: relative;
  margin: 1rem 0;
}

.embed-placeholder {
  position: relative;
  cursor: pointer;
}

.embed-placeholder-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.embed-placeholder-play button {
  background: rgba(0,0,0,0.6);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.block.embed a[href^="klaviyo://"] {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
}